/* Font */
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('../assets/fonts/montserrat-black-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-black-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: italic;
    src: url('../assets/fonts/montserrat-blackitalic-webfont.woff') format('woff'),
         url('../assets/fonts/montserrat-blackitalic-webfont.woff2') format('woff2');
}

/* Resets */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.container {
    overflow: hidden;
}

.container--locked {
    position: fixed;
}

.display-none {
    /* To stop overriding problems */
    display: none !important;
}