.main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: calc(80px + 1.5rem) 2rem 2rem;
}

.section__title {
    margin-bottom: 1rem;
}

.section__movies {
    display: flex;
    gap: 4rem;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
}

.movie {
    max-width: 257px;
    flex: 1 0 auto;
    scroll-snap-align: start;
}

.movie img {
    border-radius: 1rem;
}

.movie h3 {
    margin-top: 1rem;
    font-size: var(--font-size-1);
}

.movie span {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
}

@media screen and (max-width: 425px) {

    .main {
        gap: 2rem;
        margin-inline: 2rem;
    }

    .section__movies {
        gap: 2rem;
    }

    .movie {
        max-width: 12rem;
    }

}